/** 提现详情打印区域 */
.apply-detail {
    position: relative;
    margin:30px 88px 0 0;
    border: 1px solid #e1e1ca;
    padding: 21px 23px 0 36px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.apply-detail-header {
    padding-bottom: 8px;
    border-bottom: 1px dashed #eee;
}

.apply-detail-header .print {
    float: right;
    font-size: 12px;
}
.apply-detail-cnt {
    padding: 10px 0 15px 0;
}

.apply-detail-cnt strong {
    color: #4d4d4d;
}

.apply-detail-cnt .mi-label,
.apply-detail-cnt .mi-form-text {
    font-size: 12px;
}

.apply-detail-cnt .mi-form-text {
    vertical-align: top;
}

.apply-detail-cnt .mi-form-item {
    padding-left: 140px;
}
.apply-detail-cnt .mi-label {
    width: 140px;
    padding-right: 9px;
    margin-left: -140px;
}

.apply-detail .square {
    position: absolute;
    top: 13px;
    width: 7px;
    height: 289px;
    margin-left: -29px;
    overflow:hidden;
}
.apply-detail .square i {
    display: block;
    font-size: 0;
    line-height: 0;
    border: 1px solid #e1e1ca;
    width: 5px;
    height: 5px;
    margin: 8px 0 0;
}

@media print {
    .apply-detail-header .print {
        display: none;
    }
}

