/* bubble */
.close-bubble { 
	color: #fff;
	font-weight: 600; 
	position: absolute; 
	right: 5px; 
	top: 0; 
}

.close-bubble:hover { 
	text-decoration: none;
}

.help-bubble {
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: absolute;
	/* 动态 */
	top: 0;
	left: 0;
	height: 50px;
	width: 180px;
	z-index: 990;
}

.bubble-wrap {
	position: relative;
}

.bubble-trans-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.bubble-trans {
	position: absolute;
	z-index: -1;
	width: 100%;
	/* 动态 */
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.bubble-ctn {
	padding: 7px 18px 7px 9px;
	color: #fff;
}

.bubble-arrow {
	position: absolute;
	z-index: 10;
    *zoom: 1;
	width: 11px;
	height: 11px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.bubble-arrow-top, .bubble-arrow-right, .bubble-arrow-bottom, .bubble-arrow-left, .bubble-handle a, .bubble-handle-off a {
	background-image: url("https://i.alipayobjects.com/e/201308/xoVGFsj8H.png");
	background-repeat: no-repeat;
}
/** arrow-top */
.bubble-arrow-top {
	background-position: 0 0;
    top: -8px;
    left: 20px;
}
/** arrow-right */
.bubble-arrow-right {
	background-position: -11px 0;
    top: 6px;
    right: -8px;
}
/** arrow-bottom */
.bubble-arrow-bottom {
	background-position: -22px 0;
    bottom: -8px;
    left: 20px;
}
/** arrow-left */
.bubble-arrow-left {
	background-position: -33px 0;
    top: 8px;
    left: -8px;
}

.bubble-handle {
	position: absolute;
	right: -70px;
	top: 395px;
}

.bubble-handle a, .bubble-handle-off a {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.bubble-handle a {
	background-position: -107px 0;
}

.bubble-handle-off a {
	background-position: -56px 0;
}