.mi-dialog {
    border: 1px solid #999;
    background-color: #fff;
    outline: none;
}

/* * header */
.mi-dialog-header {
    border-bottom: 1px solid #eee;
}

/* * title */
.mi-dialog-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 8px 15px;
}
:root .mi-dialog {
    FILTER: none\9;
}

/* * close */
.mi-dialog-close,
.mi-dialog-close:visited {
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 18px;
    line-height: 14px;
    position: absolute;
    right: 16px;
    text-decoration: none;
    top: 18px;
    z-index: 10;
}
.mi-dialog-close:hover {
    text-decoration: none;
}

/* * content */
.mi-dialog-cnt {
    padding: 16px 18px;
}

/* * footer */
.mi-dialog-footer {
    border-top: 1px solid #dedede;
}
.mi-dialog-footer-cnt {
    border-top: 1px solid #fff;
    background-color: #f7f7f7;
    text-align: right;
    padding: 12px 20px;
}