/**
 * @name: 内容布局(20格栅格布局)
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 下边有注释的为常用宽度
 * @example: (相加为20，则页面宽度为990px)
 * <div class="mi-grid-row">
 *     <div class="mi-grid-4"></div>
 *     <div class="mi-grid-16"></div>
 * </div>
 */
.mi-grid-1,
.mi-grid-2,
.mi-grid-3,
.mi-grid-4,
.mi-grid-5,
.mi-grid-6,
.mi-grid-7,
.mi-grid-8,
.mi-grid-9,
.mi-grid-10,
.mi-grid-11,
.mi-grid-12,
.mi-grid-13,
.mi-grid-14,
.mi-grid-15,
.mi-grid-16,
.mi-grid-17,
.mi-grid-18,
.mi-grid-19,
.mi-grid-20 {
    margin: 0 0 0 10px;
    float: left;
    display: inline;
}
.mi-grid-1 {
    width: 40px;
}
.mi-grid-2 {
    width: 90px;
}
.mi-grid-3 {
    width: 140px;
}
.mi-grid-4 {
    width: 190px;
}

/* 右侧推广位的宽度 */
.mi-grid-5 {
    width: 240px;
}

/* 左侧边栏的宽度 */
.mi-grid-6 {
    width: 290px;
}
.mi-grid-7 {
    width: 340px;
}
.mi-grid-8 {
    width: 390px;
}
.mi-grid-9 {
    width: 440px;
}
.mi-grid-10 {
    width: 490px;
}
.mi-grid-11 {
    width: 540px;
}
.mi-grid-12 {
    width: 590px;
}

/* 中央区域宽度 */
.mi-grid-13 {
    width: 640px;
}
.mi-grid-14 {
    width: 690px;
}
.mi-grid-15 {
    width: 740px;
}
.mi-grid-16 {
    width: 790px;
}
.mi-grid-17 {
    width: 840px;
}

/* 交易明细表区域的宽度 */
.mi-grid-18 {
    width: 890px;
}
.mi-grid-19 {
    width: 940px;
}
.mi-grid-20 {
    width: 990px;
}

/* 最大页面宽度 */
/* 清理浮动 */
.mi-grid-row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mi-grid-row {
    zoom: 1; /* for IE6 IE7 */
    margin: 0 0 0 -10px;
}