/**
 * @name: mi-nav
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 导航样式
 * @require: null
*/
.mi-nav,
.mi-header-title {
    background: #0c61cc;
    padding: 0;
    height: 120px;
    overflow: hidden;
}

/* * 网站logo */
.mi-nav .logo,
.mi-header-title .logo {
    float: left;
    padding: 1px 0 0 23px;
    margin: 35px 0 0;
}
.mi-nav .logo a,
.mi-nav .logo a:visited,
.mi-header-title .logo a,
.mi-header-title .logo a:visited {
    color: #fff;
    margin: 0;
    text-decoration: none;
}
.mi-nav .logo a .title,
.mi-header-title .logo a .title {
    cursor: pointer;
}
.mi-nav a,
.mi-nav a:visited,
.mi-nav a:hover {
    text-decoration: none;
}
.mi-nav .logo .alt,
.mi-header-title .logo .alt {
    cursor: pointer;
    float: left;
    width: 113px;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 4px 0 0;
    padding: 38px 0 0;
    line-height: 38px;
    overflow: hidden;
    background: url("https://i.alipayobjects.com/e/201307/jbcjqwKdZ.png") no-repeat 0 0;
}

/* * 标题 */
.mi-nav .title,
.mi-header-title .title {
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #fff;
    vertical-align: middle;
    margin: 6px 0 0 11px;
    height: 28px;
    overflow: hidden;
    border-left: 1px solid #fff;
    padding: 7px 10px 0px 9px;
    font: 500 22px "STHei", "Microsoft YaHei", "WenQuanYi Micro Hei"
}
.mi-nav-background {
    display: none;
}
.mi-nav-cnt,
.mi-header-title-cnt {
    width: 990px;
    height: 100%;
    margin: 0 auto;
    background: #0c61cc url("https://i.alipayobjects.com/e/201307/jV7KniNAr_src.jpg") no-repeat -305px -30px;
}
.mi-nav-cnt .background-left,
.mi-nav-cnt .background-right,
.mi-header-title-cnt .background-left,
.mi-header-title-cnt .background-right {
    width: 305px;
    height: 100%;
    float: left;
    position: relative;
    background: #0c61cc url("https://i.alipayobjects.com/e/201307/jV7KniNAr_src.jpg") no-repeat 0 -30px;
}
.mi-nav-cnt .background-left,
.mi-header-title-cnt .background-left {
    margin-left: -305px;
}
.mi-nav-cnt .background-right,
.mi-header-title-cnt .background-right {
    float: right;
    margin-right: -305px;
    background-position: right -30px;
}
.mi-nav-items {
    float: right;
    padding: 30px 0 26px 0;
}
.mi-nav-item .shadow,
.mi-nav-item,
.mi-nav-item a,
.mi-nav-item a:visited,
.mi-nav-item .icon-cnt,
.mi-nav-item-hover,
.mi-nav-item-hover a,
.mi-nav-item-hover a:visited,
.mi-nav-item-hover .icon-cnt,
.mi-nav-item-current,
.mi-nav-item-current a,
.mi-nav-item-current a:visited,
.mi-nav-item-hover .icon-cnt {
    background: url("https://i.alipayobjects.com/e/201308/qmi0jNwmz.png") no-repeat 0 100px;
}
.mi-nav-item {
    float: left;
    display: inline;
    height: 64px;
    min-width: 68px;
    text-align: center;
    margin: 0 23px 0 8px;
    padding: 0 0 0 12px;
    background-position: 0 -71px;
}
.mi-nav-item .icon {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    padding: 8px 0 3px;
    vertical-align: top;
}
.mi-nav .icon-small {
    display: none;
}
.mi-nav-item .label {
    display: block;
    white-space: nowrap;
    word-break: keep-all;
}
.mi-nav-item a,
.mi-nav-item a:visited {
    position: relative;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 12px 0 0;
    background-position: right -136px;
}
.mi-nav-item .shadow {
    display: block;
    width: 100%;
    height: 9px;
    font-size: 0;
    line-height: 0;
    background-position: center -50px;
    position: absolute;
    left: 0;
    bottom: -9px;
}
.mi-nav-item .icon-cnt {
    cursor: pointer;
    display: block;
    height: 64px;
    background-position: 0 -461px;
    background-repeat: repeat-x;
}
.mi-nav-item-hover {
    background-position: 0 -201px;
}
.mi-nav-item-hover a,
.mi-nav-item-hover a:visited {
    color: #fff;
    text-decoration: none;
    background-position: right -266px;
}
.mi-nav-item-hover .icon-cnt {
    background-position: 0 -526px;
    background-repeat: repeat-x;
}
.mi-nav-item-hover .shadow {
    display: block;
}
.mi-nav-item-current {
    background-position: 0 -331px;
}
.mi-nav-item-current a,
.mi-nav-item-current a:visited {
    color: #FFF;
    background-position: right -396px;
}
.mi-nav-item-current .icon-cnt {
    background-position: 0 -591px;
}
.mi-nav-item-current .shadow {
    width: 14px;
    height: 8px;
    left: 50%;
    margin-left: -10px;
    bottom: -26px;
    background-position: right -656px;
}
.mi-nav-item-current .icon,
.mi-nav-item-hover .icon,
.mi-nav-small .icon {
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    */
}
.mi-nav-title {
    width: auto;
    height: 49px;
    padding-top: 15px;
    margin-right: 50px;
    color: #fafafa;
    font: 500 28px/30px "STHei", "Microsoft YaHei", "WenQuanYi Micro Hei";
    background: none;
}

/* * mi-nav-fixed */
.mi-nav-fixed {
    position: fixed;
    *position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.mi-nav-small {
    padding: 0;
    height: 38px;
    background-color: transparent;
}
.mi-nav-small .logo {
    display: none;
}
.mi-nav-small .mi-nav-background {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #1C60C5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
    filter: alpha(opacity=97);
    opacity: .97;
}
.mi-nav-small .mi-nav-cnt {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    position: relative;
    z-index: 1;
}
.mi-nav-small .background-left,
.mi-nav-small .background-right {
    display: none;
}
.mi-nav-small .mi-nav-items {
    padding: 0;
    height: 38px;
    float: none;
}
.mi-nav-small .mi-nav-item {
    height: 100%;
    margin: 0 5px 0 0;
    padding: 0;
    width: auto;
    background: none;
}
.mi-nav-small .mi-nav-item a,
.mi-nav-small .mi-nav-item a:visited {
    float: left;
    font-weight: 700;
    color: #e7e7e7;
    background: none;
    padding-left: 20px;
    padding-right: 19px;
    width: auto;
}
.mi-nav-small .icon-cnt {
    background-image: none;
}
.mi-nav-small .icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 3px;
}

/* * 隐藏小图标 */
.mi-nav-small .icon {
    display: none;
}

/* * 显示大图标 */
.mi-nav-small .icon-small {
    display: block;
}
.mi-nav-small .mi-nav-title {
    display: none;
}
.mi-nav-small .label {
    cursor: pointer;
    float: left;
    padding: 8px 0 0 10px;
    padding: 10px 0 0 10px\9;
    *padding: 9px 0 0 10px;
}
.mi-nav-small .mi-nav-item-current a,
.mi-nav-small .mi-nav-item-current a:visited,
.mi-nav-small .mi-nav-item a:hover {
    color: #fff;
    background-color: #1b55bc;
    background-image: none;
}
.mi-nav-small .mi-nav-item a:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}