/**
 * @name    : ui-tipboxstep
 * @filename: ui-tipboxstep.css
 * @overview: 信息提示框进度条
 * @date    : 2012.06.13 - modify:2013.04.18
 * @author  : 竹卢(qiang.mou@alipay.com)
 */
.ui-resultstep-container {
    margin-left: 15px;
}
.ui-resultstep-bg,
.ui-resultstep-icon {
    background-image: url('https://i.alipayobjects.com/e/201206/2oAYejc69B.png');
}
.ui-resultstep-item {
    float: left;
    text-align: left;
    margin-left: 12px;
}
.ui-resultstep-item .ui-resultstep-bg {
    background-position: 0 -52px;
    background-repeat: repeat-x;
    height: 20px;
}
.ui-resultstep-bg .ui-resultstep-icon {
    height: 20px;
    width: 20px;
    position: relative;
    left: -13px;
    background-position: -2px -177px;
}
.ui-resultstep-item .ui-resultstep-steptext p {
    color: #666;
    font-weight: normal;
}
.ui-resultstep-current .ui-resultstep-icon {
    background-position: -2px -114px;
}
.ui-resultstep-finish .ui-resultstep-bg {
    background-position: 0 8px;
}
.ui-resultstep-finish .ui-resultstep-icon {
    background-position: -2px bottom;
}
.ui-resultstep-item .ui-resultstep-steptext {
    position: relative;
    color: #666;
    text-align: center;
}
.ui-resultstep-current .ui-resultstep-steptext {
    color: #62b212;
    font-weight: bold;
}
.ui-resultstep-last .ui-resultstep-bg {
    background: none;
}