/**
 * @name: mi-table
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 表格组件
 * @require: null
 * @example 
    普通表格
    <div class="mi-table">
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    表格嵌套
    <div class="mi-table">
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="mi-table-inner">
                        <div class="mi-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
*/
.mi-table {
    border: 1px solid #DDD;
    background-color: #FFF;
}
.mi-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/* * 提供普通表格的fixed支持，如果table当中checkbox,
radio,
请自行解决 fixed 问题! */
.mi-table-fixed table {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}
.mi-table th,
.mi-table td {
    color: #4d4d4d;
    text-align: left;
    padding: 8px 9px 8px 10px;
    *padding: 8px 9px 8px 10px;
    _padding: 8px 9px 8px 10px;
    vertical-align: middle;
}
.mi-table caption,
.mi-table th {
    padding: 8px 9px 8px 10px;
    padding: 10px 9px 6px 10px\9;
    *padding: 10px 9px 6px 10px;
    _padding: 8px 9px 8px 10px;
    font-weight: 700;
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
}
.mi-table caption:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mi-table caption {
    zoom: 1;
    padding: 4px 9px 3px 10px;
}
.mi-table-caption {
    float: left;
    height: 21px;
    font-size: 14px;
}
.mi-table-tool {
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 0 0 19px;
}
.mi-table-tool-title {
    color: #6a6a6a;
}
.mi-table-tool .ft-bar {
    padding: 0 7px 0 6px;
}

/* * 表格排序按钮 */
.mi-table .sort,
.mi-table .sort:visited {
    padding: 0 11px 0 0;
    *padding-top: 2px;
    _padding-top: 0;
    overflow: hidden;
    text-decoration: none;
    color: #4D4D4D;
    background-image: url("https://i.alipayobjects.com/e/201306/U6zklE0nV.png");
    background-repeat: no-repeat;
}
.mi-table .sort:hover {
    text-decoration: none;
}

/* * 不可排序 */
.mi-table .sort-default {
    background-position: right 3px;
}

/* * 降序 */
.mi-table .sort-desc {
    background-position: right -27px;
}

/* * 升序 */
.mi-table .sort-asc {
    background-position: right -57px;
}
.mi-table-spliter {
    background-color: #F7F7F7;
}
.mi-table-row-hover {
    background-color: #EEE;
}
.mi-table .mi-table-explain {
    color: #A6A6A6;
}
.mi-table .border-left-none {
    border-left: 0;
}
.mi-table-foot td {
    text-align: right;
    padding-right: 9px;
    border-top: 1px solid #ccc;
    background-color: #f2f2f2;
}

/* * 当checkbox在表格当中时 */
.mi-table .mi-checkbox,
.mi-table .mi-radio {
    vertical-align: middle;
    margin-top: 0;
}

/* * 当图片在表格当中时 */
.mi-table img {
    vertical-align: middle;
}

/* * 表格全边框 */
.mi-table-border {
    border-left: none;
    border-top: none;
}
.mi-table-border caption {
    border-bottom: none;
}
.mi-table-border caption,
.mi-table-border th,
.mi-table-border td {
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

/* * 表格无边框 */
.mi-table-bordernone {
    border: none;
}

/* * 表格上边框 */
.mi-table-bordertop {
    border-top: none;
}
.mi-table-bordertop caption {
    border-top: 1px solid #ccc;
    border-bottom: none;
}
.mi-table-bordertop th,
.mi-table-bordertop td {
    border-top: 1px solid #ccc;
}

/* * 表格左边框 */
.mi-table-borderleft {
    border-left: none;
}
.mi-table-borderleft caption {
    border-left: 1px solid #CCC;
}
.mi-table-borderleft th,
.mi-table-borderleft td {
    border-left: 1px solid #ccc;
}

/* * table嵌套 */
.mi-table .mi-table-inner {
    padding: 0;
}
.mi-table-inner .mi-table {
    border: none;
}
.mi-table-inner .mi-table caption {
    border-top: none;
    border-bottom: 1px solid #ccc;
}
.mi-table-inner thead th {
    border-top: none;
}

/* * mi-table-border */
.mi-table-border .mi-table-inner .mi-table {
    margin-left: -1px;
}

/* * mi-table-bordertop */
.mi-table-bordertop .mi-table-inner {
    border-left: 1px solid #CCC;
}

/* * mi-table-borderleft */
.mi-table-borderleft .mi-table caption {
    border-top: 1px solid #ccc;
    border-bottom: none;
}
.mi-table-borderleft .mi-table-inner .mi-table {
    margin-left: -1px;
}
.mi-table-borderleft .mi-table-inner thead th {
    border-top: 1px solid #CCC;
}
.mi-table-borderleft .mi-table-inner td {
    border-top: none;
}
.mi-table-borderleft .mi-table-inner .mi-table-foot td {
    border-top: 1px solid #CCC;
}

/* 简明表格样式 */
.mi-table-concise {
    border: 0 none;
}
.mi-table-concise caption,
.mi-table-concise th {
    background-color: #FFF;
}
.mi-table-concise td {
    border-bottom: 1px solid #DDD;
}
.mi-table-concise caption,
.mi-table-concise th {
    border-bottom: 2px solid #DDD;
}