/** 提示样式 icon的上，左，下边距都是10px 距离文字是9px 单行高度为34px 其中icon字体大小为14px
 * @name: mi-tip
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: tip提示组件
 * @require: null
 * @example 
基本样式
<div class="mi-tip"></div>

带箭头标识, 其它同样添加标签即可。
<div class="mi-tip mi-tip-error">
    <div class="mi-tip-arrow mi-tip-arrow-top">
        <em>◆</em>
        <span>◆</span>
    </div>
    <div class="mi-tip-arrow mi-tip-arrow-right">
        <em>◆</em>
        <span>◆</span>
    </div>
    <div class="mi-tip-arrow mi-tip-arrow-bottom">
        <em>◆</em>
        <span>◆</span>
    </div>
    <div class="mi-tip-arrow mi-tip-arrow-left">
        <em>◆</em>
        <span>◆</span>
    </div>
    <div class="mi-tip-ctn"></div>
</div>

错误提示
<div class="mi-tip mi-tip-error">
    <div class="mi-tip-ctn"></div>
</div>

警告提示
<div class="mi-tip mi-tip-warn">
    <div class="mi-tip-ctn"></div>
</div>

信息提示
<div class="mi-tip mi-tip-cue">
    <div class="mi-tip-ctn"></div>
</div>

禁止提示
<div class="mi-tip mi-tip-forbidden">
    <div class="mi-tip-ctn"></div>
</div>

成功提示
<div class="mi-tip mi-tip-success">
    <div class="mi-tip-cnt"></div>
</div>
*/
/** mi-tip */
.tip-container {
    padding: 0 0 5px;
}
.tip-container .mi-tip {
    display:inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 10px;
    margin-right: 5px;
    width: 130px;
}

.mi-tip {
    border: 1px solid #E1E1C9;
    background-color: #EDFFCD;
    margin: 10px 0 0;
    zoom: 1;
    position: relative;
    color: #4d4d4d;
    font-size: 14px;
}

/* * tip当中的小箭头 */
.mi-tip-arrow,
.mi-tip-arrow em,
.mi-tip-arrow span {
    position: absolute;
    font-size: 14px;
    font-family: SimSun, Hiragino Sans GB;
    font-style: normal;
    line-height: 20px;
    z-index: 10;
    *zoom: 1;
}

/* * arrow */
.mi-tip-arrow em {
    color: #ffbb76;
}
.mi-tip-arrow span {
    color: #FFFCEF;
    top: 0;
    left: 0;
}

/* * arrow-top */
.mi-tip-arrow-top {
    top: -9px;
    left: 37px;
}
.mi-tip-arrow-top em {
    top: -1px;
    left: 0px;
}

/* * arrow-right */
.mi-tip-arrow-right {
    top: 6px;
    right: 6px;
}
.mi-tip-arrow-right em {
    top: 0;
    left: 1px;
}

/* * arrow-bottom */
.mi-tip-arrow-bottom {
    bottom: 9px;
    _bottom: 8px;
    left: 37px;
}
.mi-tip-arrow-bottom em {
    top: 1px;
    left: 0px;
}

/* * arrow-left */
.mi-tip-arrow-left {
    top: 6px;
    left: -7px;
}
.mi-tip-arrow-left em {
    top: 0;
    left: -1px;
}

/* mi-tip-success arrow */
.mi-tip-success .mi-tip-arrow em {
    color: #B9E39B;
}
.mi-tip-success .mi-tip-arrow span {
    color: #EDFFCD;
}

/* mi-tip-forbidden arrow */
.mi-tip-forbidden .mi-tip-arrow em {
    color: #F6C9B4;
}
.mi-tip-forbidden .mi-tip-arrow span {
    color: #FDEEE9;
}

/* mi-tip-cue arrow */
.mi-tip-cue .mi-tip-arrow em {
    color: #CBD7E3;
}
.mi-tip-cue .mi-tip-arrow span {
    color: #E4F5FD;
}

/* mi-tip-warn arrow */
.mi-tip-warn .mi-tip-arrow em {
    color: #F5DB64;
}
.mi-tip-warn .mi-tip-arrow span {
    color: #FFFF8D;
}

/* mi-tip-error arrow */
.mi-tip-error .mi-tip-arrow em {
    color: #F7C8B6;
}
.mi-tip-error .mi-tip-arrow span {
    color: #FCEDE8;
}

/* mi-tip-doubt arrow */
.mi-tip-doubt .mi-tip-arrow em {
    color: #CBD7E3;
}
.mi-tip-doubt .mi-tip-arrow span {
    color: #E6F4FD;
}

/* mi-tip-wait arrow */
.mi-tip-wait .mi-tip-arrow em {
    color: #E7CCAF;
}
.mi-tip-wait .mi-tip-arrow span {
    color: #FFF9D7;
}

/* * tip容器 */
.mi-tip-ctn {
    padding: 5px 10px 6px 32px;
    padding: 7px 10px 4px 32px\9; /* * for ie8 */
    *padding: 6px 10px 4px 32px; /* * for ie7 */
    _padding: 6px 10px 4px 32px; /* * for ie6 */
}
.mi-tip-ctn .iconfont {
    font-size: 16px;
    float: left;
    margin: 3px 0 0 -24px;
    line-height: 16px;
    height: 16px;
    *display: inline;
}
.ft-12 .mi-tip-ctn {
    padding: 5px 10px 6px 32px;
    padding: 7px 10px 5px 32px\9; /* * for ie8 */
    *padding: 6px 10px 5px 32px; /* * for ie7 */
    _padding: 6px 10px 6px 32px; /* * for ie6 */
}
.ft-12 .mi-tip-ctn .iconfont {
    line-height: 15px;
    height: 14px;
}
.mi-tip-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 7px;
    line-height: 0;
    display: block;
    overflow: hidden;
    text-indent: -100em;
    cursor: pointer;
    background-position: -25px 0;
}

/* * 成功提示 */
.mi-tip-success {
    border-color: #B9E39B;
}
.mi-tip-success .iconfont {
    color: #32cd33;
}

/* * 禁止提示 */
.mi-tip-forbidden {
    border-color: #F6C9B4;
    background-color: #FDEEE9;
}
.mi-tip-forbidden .iconfont {
    color: #ff3336;
}

/* * 信息提示 */
.mi-tip-cue {
    border-color: #CBD7E3;
    background-color: #E4F5FD;
}
.mi-tip-cue .iconfont {
    color: #0199fe;
}

/* * 警告提示 */
.mi-tip-warn {
    border-color: #F5DB64;
    background-color: #FFFF8D;
}
.mi-tip-warn .iconfont {
    color: #F90;
}

/* * 错误提示 */
.mi-tip-error {
    border-color: #F7C8B6;
    background-color: #FCEDE8;
}
.mi-tip-error .iconfont {
    color: #F33;
}

/* * 疑问提示 */
.mi-tip-doubt {
    border-color: #CBD7E3;
    background-color: #E6F4FD;
}
.mi-tip-doubt .iconfont {
    color: #0398FC;
}

/* * 等待提示 */
.mi-tip-wait {
    border-color: #E7CCAF;
    background-color: #FFF9D7;
}
.mi-tip-wait .iconfont {
    color: #CF6500;
}

/* * 无图标提示 */
.mi-tip-textonly .mi-tip-ctn {
    padding-left: 10px;
}
.mi-tip-textonly .iconfont {
    visibility: hidden;
}

/* * 可关闭 */
.mi-tip-closable .mi-tip-ctn {
    padding-right: 20px;
}