.mi-box-top,
.mi-box-bottom,
.mi-box .corner-left,
.mi-box .corner-right {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

/* * border-top */
.mi-box-top,
.mi-box-bottom {
    position: relative;
    height: 12px;
}
.mi-box-bottom {
    height: 11px;
}

/* * top-center */
.mi-box-top .center,
.mi-box-bottom .center {
    margin: 0 11px;
    height: 100%;
}
.mi-box .corner-left,
.mi-box .corner-right {
    width: 11px;
    height: 100%;
    position: absolute;
    top: 0;
}
.mi-box .corner-left {
    left: 0;
}
.mi-box .corner-right {
    right: 0;
}
.mi-box-right {
    padding: 0 11px 0 0;
    zoom: 1; /* * fixed for ie6 */
}
.mi-box-left {
    padding: 0 0 0 11px;
}
.mi-box-cnt {
    padding: 10px;
}

/* * mi-box-more */
.mi-box-more {
}
.mi-box-more .mi-box-bottom {
    height: 15px;
}

/* * top */
.mi-box-top .corner-left {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat 0 0;
}
.mi-box-top .center {
    background: url("https://i.alipayobjects.com/e/201304/601MgGpHD.png") repeat-x 47px 0;
}
.mi-box-top .corner-right {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat right 0;
}

/* * right */
.mi-box-right {
    background: url("https://i.alipayobjects.com/e/201304/600MdIz95.png") repeat-y right -48px;
}

/* * bottom */
.mi-box-bottom .corner-left {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat 0 -13px;
}
.mi-box-bottom .center {
    background: url("https://i.alipayobjects.com/e/201304/601MgGpHD.png") repeat-x 0 -13px;
}
.mi-box-bottom .corner-right {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat right -13px;
}

/* * box-more-bottom */
.mi-box-more .mi-box-bottom .corner-left {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat 0 -25px;
}
.mi-box-more .mi-box-bottom .center {
    background: url("https://i.alipayobjects.com/e/201304/601MgGpHD.png") repeat-x 0 -25px;
}
.mi-box-more .mi-box-bottom .corner-right {
    background: url("https://i.alipayobjects.com/e/201304/610hO5Mo3.png") no-repeat right -25px;
}

/* * left */
.mi-box-left {
    background: url("https://i.alipayobjects.com/e/201304/600MdIz95.png") repeat-y 0 -42px;
}
.mi-box-cnt {
    background: #f5f5f5 url("https://i.alipayobjects.com/e/201304/603Q76PfD.png") repeat 0 0;
}