/**
 * @name: mi-form
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 通用表单样式
 * @require: null
 */
.mi-form {
}
label,
label:focus,
label:hover,
label:active {
    border: 0 none;
    outline: medium none;
}
legend {
    display: none;
}
fieldset {
    padding: 10px 0 0;
}

/* * 表单项 */
.mi-form-item {
    padding: 0 0 15px 170px;
    margin: 0;
}
.mi-form-item select {
    color: #4d4d4d;
    vertical-align: middle;
}
.mi-form-item-normal {
    padding-left: 0;
}
.mi-form-spliter {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 6px 3px 0;
}

/* * 表单标签 */
.mi-label {
    padding: 3px 0 6px;
    padding: 5px 0 0\9;
    *padding: 4px 0 0;
    _padding: 3px 0 0;
    width: 170px;
    float: left;
    *margin-top: 2px;
    margin-left: -170px;
    vertical-align: middle;
    text-align: right;
    color: #4D4D4D;
    font-size: 14px;
    position: relative;
}

/* * 表单必填项 */
.mi-form .required {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: relative;
    top: 2px;
    padding: 0 5px 0;
    color: #f00;
}

/* * 表单输入元素 input,
textarea */
.mi-input,
.mi-textarea,
.mi-form .mi-securitycore .mi-checkcode-input /* * 对手机校验码进行修正 */ {
    border: 1px solid #CCC;
    border-top-color: #A6A6A6;
    color: #4D4D4D;
    font: normal 14px tahoma, arial, Hiragino Sans GB, \5b8b\4f53;
    padding: 6px 4px;
    padding: 8px 4px 5px\9;
    *padding: 8px 4px 5px;
    _padding: 7px 4px 6px;
    vertical-align: top;
    width: 220px;
}
.mi-form .ui-securitycore .ui-checkcode-input {
    width: 60px;
}
.mi-form .ui-securitycore .ui-checkcode-input {
    height: auto;
}
.mi-form-item-placeholder,
.mi-input-placeholder,
.mi-textarea-placeholder {
    color: #A6A6A6;
}
.mi-input-len3 {
    width: 3em;
}
.mi-input-len4 {
    width: 4em;
}
.mi-input-authcode {
    width: 4.5em;
}
.mi-input-len6,
.mi-input-securitycode,
.mi-input-date {
    width: 6em;
}
.mi-input-len8 {
    width: 8em;
}
.mi-input-len10 {
    width: 14em;
}
.mi-input-hover,
.mi-textarea-hover {
    border-color: #A6A6A6;
    color: #4D4D4D;
}

/* * 获取焦点提示样式 */
.mi-form-item-focus .mi-form-explain,
.mi-form-item-hover .mi-form-explain {
    color: #4D4D4D;
}
.mi-form-item-hover .mi-input,
.mi-form-item-hover .mi-textarea {
    border-color: #A6A6A6;
    color: #4D4D4D;
}

/* * 获取焦点样式 */
.mi-form-item .mi-input:hover,
.mi-form-item .mi-textarea:hover,
.mi-form .ui-securitycore .ui-checkcode-input:hover,
.mi-form-item .mi-input-hover,
.mi-form-item .mi-textarea-hover,
.mi-form-item-hover .mi-input,
.mi-form-item-hover .mi-textarea,
.mi-form-item .mi-input:focus,
.mi-form-item .mi-textarea:focus,
.mi-form-item .mi-input-focus,
.mi-form-item .mi-textarea-focus,
.mi-form-item-focus .mi-input,
.mi-form-item-focus .mi-textarea,
.mi-form .ui-securitycore .ui-checkcode-input:focus {
    color: #4D4D4D;
    border-color: #07F;
    outline: 1px solid #8CDDFF;
    *padding: 7px 3px 4px;
    _padding: 6px 3px 5px;
    *border: 2px solid #07F;
}

/* * radio标签样式 */
.mi-radio,
.mi-checkbox {
    width: 16px;
    vertical-align: middle;
    margin-top: 2px;
    margin-top: -2px\0;
    *margin-top: 0px;
    *zoom: 1;
}
.mi-radio-label,
.mi-checkbox-label {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: relative;
    padding: 0 5px 0 1px;
    top: 2px;
    top: 0px\9;
    *top: 1px;
    _top: 0;
}
.mi-input-banknum,
.mi-input-bigdigital {
    font-size: 18px;
}
.mi-input-amount,
.mi-input-digital,
.mi-form .ui-securitycore .mi-input-digital {
    font-weight: 700;
}
.mi-form .ui-securitycore .ui-form-item-placeholder {
    font-weight: 500;
}
.mi-textarea {
    width: 650px;
    overflow: auto;
    resize: none; /* * 针对textarea可以支持resize而设 */
}
.mi-input-disabled,
.mi-textarea-disabled,
.mi-form-item .mi-input-disabled:hover,
.mi-form-item .mi-textarea-disabled:hover,
.mi-form-item-hover .mi-input-disabled,
.mi-form-item-hover .mi-textarea-disabled,
.mi-form .ui-securitycore .ui-checkcode-disabled:hover {
    border-color: #CCC;
    outline: none;
    background-color: #F2F2F2;
    color: #CCC;
    cursor: default;
}

/* * 表单项提示信息 */
.mi-form-explain {
    color: #A6A6A6;
    padding: 3px 0 0;
    padding-top: 5px\9;
    *padding-top: 5px;
    _padding-top: 3px;
    _margin-left: 3px;
    font-size: 12px;
}

/* * 报错表单输入框样式 */
.mi-form-item-error .mi-input {
    border-color: #F33;
    color: #F33;
}
.mi-form-item-error .alieditContainer {
    border: 1px solid #F00;
}
.mi-form-item-success .mi-form-explain,
.mi-form-item-forbidden .mi-form-explain,
.mi-form-item-cue .mi-form-explain,
.mi-form-item-warn .mi-form-explain,
.mi-form-item-error .mi-form-explain,
.mi-form-item-doubt .mi-form-explain,
.mi-form-item-wait .mi-form-explain,
.mi-form-item-loading .mi-form-explain {
    background: url("https://i.alipayobjects.com/e/201304/CkqmqBUth.png") no-repeat 0 0;
    color: #4D4D4D;
    padding-left: 19px;
}
.mi-form-item-error .mi-select {
    border-color: #F33;
}
.mi-form-item-error .mi-select-value {
    color: #F33;
}

/* * 成功提示信息样式 */
.mi-form-item-success .mi-form-explain {
    background-position: -486px -520px;
}

/* * 禁止提示信息样式 */
.mi-form-item-forbidden .mi-form-explain {
    color: #F33;
    background-position: -458px -546px;
}

/* * 普通信息提示样式 */
.mi-form-item-cue .mi-form-explain {
    background-position: -431px -570px;
}

/* * 警告提示信息样式 */
.mi-form-item-warn .mi-form-explain {
    background-position: -400px -596px;
}

/* * 错误提示信息样式 */
.mi-form-item-error .mi-form-explain {
    color: #F33;
    background-position: -368px -626px;
}

/* * 疑问提示信息样式 */
.mi-form-item-doubt .mi-form-explain {
    background-position: -338px -653px;
}

/* * 等待提示信息样式 */
.mi-form-item-wait .mi-form-explain {
    background-position: -305px -681px;
}

/* * 动态加载信息提示 */
.mi-form-item-loading .mi-form-explain {
    background: url("https://i.alipayobjects.com/e/201205/2budYKAewD.gif") no-repeat 0 4px;
}

/* * 正在加载信息提示样式 */
.mi-loading-text {
    zoom: 1;
    padding-right: 15px;
    color: #20B907;
    background: url("https://i.alipayobjects.com/e/201205/2bueMwUB2X.gif") no-repeat right 80%;
}
.mi-form-text,
.mi-form-link,
.sl-checkcode-link/* * 图片验证码 */ {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 4px 0 0;
}
.mi-form-text {
    font-size: 14px;
    vertical-align: middle;
}
.mi-form-link,
.sl-checkcode-link {
    padding-top: 5px;
}
.mi-form-link {
    *padding-top: 2px;
    vertical-align: middle;
    height: 18px;
}
.mi-form-link,
.sl-checkcode-link {
    margin: 0 0 0 3px;
    margin-top: 3px\9;
}
.mi-form-alieditlink {
    padding: 0;
    position: relative;
    top: -2px;
    left: 3px;
}

/* * 图片验证码 */
.sl-checkcode-img {
    vertical-align: top;
}
.sl-checkcode-link {
    height: 22px;
    line-height: 1.2;
    padding-top: 8px;
    overflow: hidden;
}
.mi-form-item-authcodebreak .sl-checkcode-link {
    width: 40px;
    height: 30px;
    padding-top: 0;
}
.mi-input-del {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -10em;
    overflow: hidden;
    margin: 4px 0 0 3px;
    background: url("https://i.alipayobjects.com/e/201205/2lOVDr2nsf.png") no-repeat 0 -40px;
}
.mi-input-add,
.mi-input-add:visited,
.mi-input-add:hover {
    margin: 10px 0 0;
    text-decoration: none;
    display: block;
    padding: 6px 0 0 31px;
    width: 190px;
    height: 24px;
    font-weight: 700;
    overflow: hidden;
    background: url("https://i.alipayobjects.com/e/201205/2lOVDr2nsf.png") no-repeat 0 0;
}

/* * 水平显示表单 */
.mi-form-horizontal .mi-form-item {
    display: inline;
    float: left;
    padding: 0 0 15px 70px;
}
.mi-form-horizontal .mi-form-item select {
    width: 90px;
}
.mi-form-horizontal .mi-label {
    width: 70px;
    margin-left: -70px;
}
.mi-form-horizontal .mi-input {
    width: 90px;
}
.mi-form-horizontal .mi-input-date {
    width: 6em;
}
.mi-form-horizontal .mi-form-item-last {
    width: 60px;
    padding: 0 0 15px 5px;
}
.mi-form-horizontal .mi-form-item-time {
    width: 220px;
}

/* * 垂直显示表单 */
.mi-form-vertical {
}
.mi-form-vertical .mi-form-item {
    padding-left: 20px;
}
.mi-form-vertical .mi-label {
    margin: 0;
    text-align: left;
    float: none;
    display: block;
}

/* * 竖直必填 */
.mi-form-vertical .required {
    padding-left: 0;
}