/** 图标
 * @name: mi-line
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 图标样式
 * @require: null
 *  @example
    <div class="ico ico-coupon"></div>
*/
.ico {
    background: url("https://i.alipayobjects.com/e/201112/1k1a4oNien.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ico-coupon,
.ico-verify,
.ico-certi,
.ico-mobile,
.ico-verify-limiting,
.ico-certi-limiting,
.ico-mobile-limiting,
.ico-verify-alpha,
.ico-certi-alpha,
.ico-mobile-alpha,
.ico-verify-non,
.ico-certi-non,
.ico-mobile-non,
.ico-otp,
.ico-otp-limiting,
.ico-mobile-otp {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 2px
}
.ico-coupon {
    background-position: 2px -865px
}
.ico-certi {
    background-position: 0 -780px
}
.ico-certi-limiting {
    background-position: 0 -800px
}
.ico-certi-alpha {
    background-position: 0 -820px
}
.ico-certi-non {
    background-position: 0 -840px
}
.ico-verify {
    background-position: 0 -688px
}
.ico-verify-limiting {
    background-position: 0 -708px
}
.ico-verify-alpha {
    background-position: 0 -728px
}
.ico-verify-non {
    background-position: 0 -748px
}
.ico-mobile {
    background-position: 2px -599px
}
.ico-mobile-limiting {
    background-position: 0 -619px
}
.ico-mobile-alpha {
    background-position: 0 -639px
}
.ico-mobile-non {
    background-position: 2px -659px
}
.ico-otp {
    background-position: 0 -915px
}
.ico-otp-limiting {
    background-position: 0 -936px
}
.ico-mobile-otp {
    background-position: 2px -985px
}