/**
 * @name: mi-progress
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: progress组件
 * @require: null
 * @example mi-progress mi-progress[-color[-type]]
    <div class="mi-progress fn-mt20">
        <div class="mi-progress-track">
            <div class="mi-progress-bar"></div>
        </div>
    </div>
 */
.mi-progress {
    height: 14px;
    overflow: hidden;
    position: relative;
}
.mi-progress-track {
    border: 1px solid #ededed;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: #f7f7f7 url("https://i.alipayobjects.com/e/201304/DUiMu4bAz.png") repeat-x 0 -120px;
}
.mi-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 0;
    font-size: 0;
    height: 100%;
    overflow: hidden;
    background: url("https://i.alipayobjects.com/e/201304/DUiMu4bAz.png") repeat-x 0 0;
}

/* * green */
.mi-progress-green .mi-progress-bar {
    background-position: 0 -15px;
}

/* * orange */
.mi-progress-orange .mi-progress-bar {
    background-position: 0 -30px;
}

/* * red */
.mi-progress-red .mi-progress-bar {
    background-position: 0 -45px;
}

/* * loading */
.mi-progress-loading .mi-progress-bar {
    background-position: 0 -60px;
}

/* * green loading */
.mi-progress-green-loading .mi-progress-bar {
    background-position: 0 -75px;
}

/* * orange loading */
.mi-progress-orange-loading .mi-progress-bar {
    background-position: 0 -90px;
}

/* * red loading */
.mi-progress-red-loading .mi-progress-bar {
    background-position: 0 -105px;
}

/* * small */
.mi-progress-mini,
.mi-progress-green-mini,
.mi-progress-orange-mini,
.mi-progress-red-mini {
    height: 10px;
}
.mi-progress-mini .mi-progress-track,
.mi-progress-green-mini .mi-progress-track,
.mi-progress-orange-mini .mi-progress-track,
.mi-progress-red-mini .mi-progress-track {
    height: 8px;
    background: url("https://i.alipayobjects.com/e/201304/DUiMu4bAz.png") repeat-x 0 -177px;
}

/* * green small */
.mi-progress-green-mini .mi-progress-bar {
    background-position: 0 -144px;
}

/* * orange small */
.mi-progress-orange-mini .mi-progress-bar {
    background-position: 0 -155px;
}

/* * red small */
.mi-progress-red-mini .mi-progress-bar {
    background-position: 0 -166px;
}